:root{
    --custom-primary-color: #000000;
    --custom-secondary-color: #fff544;
    --custom-tertiary-color: #ffffff;
    --custom-quaternary-color: #f0f0f0;
    --custom-quinary-color: #f5f5f5;
    --custom-primary-font: "Jost", serif;
    --custom-secondary-font: "Lustria", serif;
    --custom-primary-font-size: 1rem;
    --custom-secondary-font-size: 1rem;
    --custom-tertiary-font-size: 1rem;
    --custom-quaternary-font-size: 1rem;
    --custom-primary-font-weight: 400;
    --custom-secondary-font-weight: 300;
    --custom-tertiary-font-weight: 500;

}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--custom-primary-font);
    font-size: var(--custom-primary-font-size);
    font-weight: var(--custom-primary-font-weight);
    color: var(--custom-primary-color);
    background-color: var(--custom-tertiary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--custom-tertiary-font-weight);
    color: var(--custom-primary-color);
    line-height: 1;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: var(--custom-primary-font);
}
h2 {
    font-family: var(--custom-secondary-font);
    font-weight: var(--custom-primary-font-weight);
}
p, span {
    font-family: var(--custom-primary-font);
    font-weight: var(--custom-primary-font-weight);
    color: var(--custom-primary-color);
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: var(--custom-primary-font);
}
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;
}
.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.cta {
        font-family: var(--custom-primary-font);
        font-weight: var(--custom-secondary-font-weight);
        color: var(--custom-tertiary-color);
        background-color: var(--custom-primary-color);
        border: none;
        font-size: 1.6rem;
        line-height: 1.28 ;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: 0;
        min-height: 4.5rem;
        width: 22rem;
        padding-right: 2.8rem;
    }
    .cta::after {
        content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
        background-color: var(--custom-primary-color);
        

		z-index: -2;
    }
    .cta::before {
        content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		transition: all .3s;
		z-index: -1;
		background-color:  var(--custom-secondary-color);

    }
    .cta:hover {
        background-color: var(--custom-secondary-color);
        color: var(--custom-primary-color);
    }
    .cta:hover svg path{
        fill: var(--custom-primary-color);
    }
    .cta:hover::before {
        width: 100%;
    }

    .cta.cta-secondary {
        background-color:  var(--custom-secondary-color);
        color: var(--custom-primary-color);

    }
    .cta.cta-secondary::after {
        background-color:  var(--custom-secondary-color);

    }
    .cta.cta-secondary::before {
        background-color: var(--custom-primary-color);
    }
    .cta svg {
        position: absolute;
        right: 1.5rem;
    }
    .cta.cta-secondary svg path{
        fill: var(--custom-primary-color);
    }
    .cta.cta-secondary:hover svg path{
        fill: var(--custom-tertiary-color);
    }
    .cta.cta-secondary:hover {
        color: var(--custom-tertiary-color);
    }
    
/* Variant Btns */
.cta-variant {
    display: flex;
    align-items: center;
    min-width: 13.5rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.05rem solid black;
    height: 4rem;
    text-align: left;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.04rem;
    padding: 0;
    cursor: pointer;
} 
.cta-variant-color-hint {
    width: 0.5rem;
    margin-right: 1rem;
    display: inline-block;
    border-right: 0.05rem solid black;
    height: 100%;
}
/* Utility Classes */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.overflow-hidden {
    overflow: hidden;
}